<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="#">Alunos</a></li>
        <li><a href="@Url.Action("Index","Coordenadores")">Coordenadores</a></li>
        <li><a href="@Url.Action("Index","Cursos")">Cursos</a></li>
        <li><a href="#">Disciplinas</a></li>
        <li><a href="#">Professores</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Avaliações</a></li>
        <li><a href="@Url.Action("Index","Questoes")">Questões</a></li>
        <li><a href="#">Respostas</a></li>
        <li><a href="@Url.Action("Index","Topicos")">Tópicos de avaliação</a></li>
    </ul>
</div>
